body {
    background-color: #f1f5f8;
}

span {
    cursor: pointer;
    margin-right: 1rem;
}

.sectionContent {
    width: 600px;
    padding: 1rem;
    margin: 5rem auto;
    background-color: whitesmoke;
    text-align: center;
}


.item {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

.item:hover {
    background-color: white;
}

.clearItem {
    cursor: pointer;
}