body {
    background-color: #f1f5f8;
}

.header {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.underline {
    width: 5rem;
    margin: 0 auto;
    height: 5px;
    background-color: #2caeba;
    border: none;
    transform: rotate(45deg);
}

li {
    font-size: 1.5rem;
    list-style-type: none;
    margin-bottom: 2rem;
    cursor: pointer;
}

li:hover {
    transition: 1s ease all;
    color: rgb(114, 187, 187);
}

.active {
    background-color: cornflowerblue;
}