.inputColor {
    width: 900px;
    display: flex;
    margin: 3rem 1rem;
}

.colorInput {
    margin-left: 2rem;
}

.listItem {
    display: flex;
    flex-wrap: wrap;
}

.singleColor {
    padding: 1rem;
    width: 16.6%;
    height: 200px;
}

.singleColor:active {
    transition: 1s all ease;
    transform: scale(1.5)
}

.light {
    color: white;
}